@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
	background-color: #555;

}

.navbg a {
  color: #000;
}

.brand-logo {
  font-family: "Grand Hotel", cursive;
  font-size: 35px;
  color: #fff;
}

.mycard {
  margin-top: 30px;
}

.mycard h2 {
  font-family: "Grand Hotel", cursive;
}

.card_auth {
  padding: 20px;
  max-width: 400px;
  text-align: center;
  margin: 20px auto;
}

.profile {
  max-width: 80%;
  margin: 0 auto;
}

.profile-img {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  object-fit: cover;
}

.profileMain {
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
  border-bottom: 1px solid #fff;
}

.info-profile {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info-profile p{
  margin: 0 10px;
}

.gallery {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 300px;
  gap: 1rem;
}


.image-item{
  display: flex;
  flex-direction: column;
}

.image-item img{
  height: 100%;
  object-fit: cover;
}

.gallery .image-item {
  max-width: 350px;
  margin-top: 10px;
}

.home_card {
  max-width: 500px;
  height: max-content;
  margin: 30px auto;
  padding: 20px;
}

.postcard {
  margin: 10px auto;
  max-width: 500px;
  padding: 20px;
  text-align: center;
}

.postcard h2 {
  font-family: "Grand Hotel", cursive;
}

.cardPost {
  position: relative;
  max-width: 800px;
  min-height: 550px;
  background-color: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  margin: 30px auto;
}

.imggg {
  max-width: 800px;
  height: 300px;
  object-fit: cover;
}

.images{
  object-fit: cover;
  object-position: top;
  max-height: 400px;
}

.card-image{
  max-height: 400px;
}

.commentPost{
  height: 100%;
  align-items: center;
  display: flex;
  width: 90%;
  border: 1px solid teal;
  justify-content: space-between;
  padding: 10px;
  margin-top: 5px;
}

.profileName{
  height: 5rem;
  display: flex;
  gap: 20px;
  align-items: center;
}

.profileName button{
  width: 50px;
  margin-left: 1rem;
  margin-top: 10px;
}